.add_user{
    padding: 12px 20px;
    border-radius: 3px;
    background: var(--accent);
    border: none;
    color: var(--white);
}

.popup{
    width: 221px;
    position: absolute;
    right: 0;
    background: var(--white);
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .popup::after{
    content: ''; 
    position: absolute; 
    top: -12px;
    right: 30px;
    border: 10px solid transparent;
    border-bottom: 10px solid green;
} */
.button_delete, .button_edit p{
    padding: 12px;
    color: var(--border);

}
.button_delete:hover{
    background: rgba(25, 111, 173, 0.05);
}
.button_edit:hover{
    background: rgba(25, 111, 173, 0.05);
}


