.container_sidebar {
    display: flex;
}
main {
    width: 100%;
    /* padding: 20px; */
}
.sidebar {
    height: 100vh;
    width: 300px;
    transition: all 0.3s;
    box-shadow: 4px 0px 8px 0px rgba(37, 39, 51, 0.25);
    position: sticky;
    top: 0;
}
.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo {
    font-size: 18px;
    color: black;
}
.burger_menu {
    display: flex;
    font-size: 20px;
    cursor: pointer;
}
.link {
    display: flex;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    gap: 15px;
    transition: all 0.5s;
}
.icon{
    font-size: 20px;
}