.tab_container{
    width: min(100% - 2px, 1200px);
    margin: 0 auto;
}
.menu{
    width: 100%;
    border-bottom: 1px solid var(--accent);
}
.menu ul{
    /* max-width: 1540px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

}
.menu li{
    width: 390px;
    /* background: var(--accent); */
    text-align: center;
}
.menu li a{
    color: #293244;
    display: block;
    padding: 16px 24px;
}

.menu li.active a{
    background: var(--accent);
    color: var(--white);
    border-radius: 6px 6px 0px 0px;
  }
  