/* .page_file{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.wrapper_file{
    width:618px;
    height: 476px;
    border-radius:5px;
    display:block;
    padding:1.2em;
    cursor:pointer;
} 
.label{
    display:block;
    text-align: center;
}
.icon_file{
    font-size:70px;
}
.page_file .wrapper_file{
    padding:1em;
    margin:1em
}
.page_file input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.page_file .label{
    width: 100%; 
    height: 100%;
    border:2px dashed grey;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius:5px;
    display:block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;

} */
.page_file .label .icon_file,.page_file .label .title_file{color:grey;transition:200ms color }

/* .page_file .label:hover{border:2px solid #000} */
/* .page_file .label:hover i,.page_file .label:hover .title_file{color:#000} */

.page_file{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.wrapper_file{
    width:618px;
    height: 476px;
    border-radius:5px;
    display:block;
    padding:1.2em;
    cursor:pointer;
} 
.page_file .wrapper_file{
    padding:1em;
    margin:1em
}
.icon_file{
    font-size: 100px;
}
.page_file input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.page_file .label{
    width: 100%; 
    height: 100%;
    border:2px dashed grey;
    border-radius:5px;
    display:block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .page_file .label i{display:block;font-size:42px;padding-bottom:16px}
.page_file .label i,.page_file .label .title{color:grey;transition:200ms color} */
/* .page_file .label:hover{border:2px solid #000}
.page_file .label:hover i,.page_file .label:hover .title{color:#000} */